@model Usuario
@{
    ViewData["Title"] = "Alteração";
}
<h1>@ViewData["Title"]</h1>

<p class="text-danger">@ViewData["mensagem"]</p>

<form method="post" action="alterar">

    <p>
        <label for="Nome">Nome</label>
        <input asp-for = "Nome">
    </p>
      <p>
        <label for="Login ">Login </label>
        <input asp-for = "Login ">
    </p>
     <p>
        <label for="Senha">Serviços</label>
        <input asp-for = "Senha">
    </p>
    <p>
        <input asp-for="Id" type="hidden">
        <input type="submit" value="Alterar">
    </p>

</form>