<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <title>Shop pet</title>
</head>

<body>
    <header>

        <h1>Shop Pet</h1>

        <nav>
            <a asp-controller="Home" asp-action="Index">Incio</a>
            <a asp-controller="Home" asp-action="Privacy">Serviços</a>
            <a asp-controller="Home" asp-action="Cadastro">Agendamento</a>
        </nav>
    </header>
    <div>
        <main>
            <div>
                <br>
                <h2>Nossos Serviços</h2>
                <br>
                <h4>Plano de Saúde</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Cupiditate a quam beatae deserunt, maiores rem dolorem.
                    Alias optio tenetur quisquam atque quibusdam quam nihil
                    nam sed eos, labore enim culpa?</p>
                <h5>Valor R$ 150,00 mensal</h5>
                <br>
                <h4>Veterinario</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Cupiditate a quam beatae deserunt, maiores rem dolorem.
                    Alias optio tenetur quisquam atque quibusdam quam nihil
                    nam sed eos, labore enim culpa?</p>
                <h5>Valor R$ 50,00 Consulta</h5>
                <br>
                <h4>Passeador</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Cupiditate a quam beatae deserunt, maiores rem dolorem.
                    Alias optio tenetur quisquam atque quibusdam quam nihil
                    nam sed eos, labore enim culpa?</p>
                <h5>Valor R$ 10,00h</h5>
                <br>
                <h4>Creche</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Cupiditate a quam beatae deserunt, maiores rem dolorem.
                    Alias optio tenetur quisquam atque quibusdam quam nihil
                    nam sed eos, labore enim culpa?</p>
                <h5>Valor R$ 100,00 mensal</h5>
                <br>
            </div>

        </main>
    </div>
</body>

</html>
