@{
    ViewData["Title"] = "Nossa Missão";
}
<h2>@ViewData["Title"]</h2>
<br>

<p> Trazer as melhores marcas, produtos de qualidade, grande variedade e as novidades do mercado. 
    Prezamos por excelência no atendimento, preços justos, ótimas condições de pagamento,
    entregas rápidas e seguras, ética e transparência. 
    Buscamos evoluir constantemente para proporcionarmos aos nossos clientes o melhor para seus lares.</p>
