@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V&R Agencia de Turismo  </title>
</head>
<h1>V&R  </h1>
<body>
    <h4 > A melhor escolha para suas férias</h4> 
    <header>
    </header>
        <br><br>
        <main>
    
        <div>
            <iframe width="1649" height="600" src= agencia_turismo_capa.jpg title="Imagem principal"  picture-in-picture" allowfullscreen></iframe>
            <p>Satisfação e Descanso Garantidos!! </p>
        </div>
        <br>
         <div>
           <h3>Pracotes Disponiveis</h3><br>
           <iframe width="250" height="250" src=agencia_turismo.jpg title="agencia_turismo"  allowfullscreen></iframe>
           <iframe width="250" height="250" src=Bloco.jpg title="Bloco"  allowfullscreen></iframe>
            <iframe width="250" height="250" src=Chuveiro.jpg title="Chuveiro"allowfullscreen></iframe>
             <iframe width="250" height="250" src=Torneira.jpg title="Torneira"allowfullscreen></iframe>
     </div>
     </main><br>

    <footer>

        <h5>Direitos reservados: V&R Agencia de Turismo </h5>

    </footer>
    
    
</body>
</html>
