@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V&R Agência de Turismo  </title>
</head>
<h1>V&R - Agência de Turismo  </h1>
<body>
    <h5 > A melhor escolha para suas férias</h5> 
    <header>
    </header>
        <br><br>
        <main>
    
        <div>
            <iframe width="805" height="400" src= inovar-agencia-turismo.png title="Imagem principal"  picture-in-picture" allowfullscreen></iframe>
            <p>Satisfação e Descanso Garantidos!! </p>
        </div>
        <br>
         <div>
           <h3>Venha Conhecer o mundo com a gente!!!</h3><br>
           <iframe width="349" height="158" src=agencia_turismo1.jpg title="agencia_turismo"  allowfullscreen></iframe>
           <iframe width="349" height="158" src=agencia_turismo1.jpg title="Bloco"  allowfullscreen></iframe>
            <iframe width="349" height="158" src=agencia_turismo1.jpg title="Chuveiro"allowfullscreen></iframe>
             
     </div>
     </main><br>

    <footer>

        <h5>Direitos reservados: V&R Agência de Turismo </h5>

    </footer>
    
    
</body>
</html>
