@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PG Materiais de Construção  </title>
</head>
<h1>PG Materiais de Construção  </h1>
<body>
    <h4 > Materiais de Construção e Acessórios</h4> 
    <header>
    </header>
        <br><br>
        <main>
    
        <div>
            <iframe width="1200" height="450" src= materiais-de-construcao.jpg title="Imagem principal"  picture-in-picture" allowfullscreen></iframe>
            <p>TOUR PELA MELHOR LOJA DE REFORMA E CONSTRUÇÃO - PG </p>
        </div>
        <br>
         <div>
           <h3>Produtos Disponiveis</h3><br>
           <iframe width="250" height="250" src=Alicate.jpg title="Alicate"  allowfullscreen></iframe>
           <iframe width="250" height="250" src=Bloco.jpg title="Bloco"  allowfullscreen></iframe>
            <iframe width="250" height="250" src=Chuveiro.jpg title="Chuveiro"allowfullscreen></iframe>
             <iframe width="250" height="250" src=Torneira.jpg title="Torneira"allowfullscreen></iframe>
     </div>
     </main><br>

    <footer>

        <h5>Direitos reservados: PG Materiais de Construção </h5>

    </footer>
    
    
</body>
</html>