@{
  ViewData["Title"] = "Home Page";
}
<br>
<div class=" container jumbotron">
  <div class="col-12">
    <img src="img4.jpg" class="img-fluid" alt="Chania" width="700" height="345">
  </div>
</div>

<!-- Three columns of text below the carousel -->
<div class="Container">
  <div class="row display-flex mt-4">
    <div class="col-4">
      <div>
        <img src="img2.jpg" class="img-fluid" alt="Chania" width="260" height="145">
        <h2>Heading</h2>
        <p class="figure-caption">Some representative placeholder content for the three columns
          of text below the carousel. This is the first
          column.</p>
        <input type="submit" value="Comprar" class="btn btn-outline-success mt-2"><br>
      </div>
    </div>
    <div class="col-4">
      <div>
        <img src="img4.jpg" class="cimg-fluid" alt="Chania" width="260" height="145">
        <h2>Heading</h2>
        <p class="figure-caption">Another exciting bit of representative placeholder content.
          This time, we've moved on to the second column.</p>
        <input type="submit" value="Comprar" class="btn btn-outline-success mt-2"><br>
      </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-4">
      <div>
        <img src="img5.jpg" class="img-fluid" alt="Chania" width="260" height="145">
        <h2>Heading</h2>
        <p class="figure-caption">And lastly this, the third column of representative placeholder content.</p>
        <input type="submit" value="Comprar" class="btn btn-outline-success mt-2"><br>
      </div><!-- /.col-lg-4 -->
    </div>
  </div>
</div>
