
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PG Materiais de Construção  </title>
</head>
<h1>PG Materiais de Construção  </h1><br>

<body>
    <h4 > Nossa História</h4> 
    <header>
    
        <br><br>
        <main>
<p>

    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde quo iure, beatae 
    dignissimos eaque ducimus quod sint quos voluptatem voluptates eos, 
    ipsam modi quis exercitationem explicabo excepturi odio inventore! Optio.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sit deserunt odit eum soluta, 
    repudiandae ex amet repellendus, at rem facere eos nulla ipsum natus non quaerat officiis dolor labore?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias inventore laboriosam expedita 
    facere reprehenderit perspiciatis sapiente tenetur, quo obcaecati sit, itaque velit doloribus magni corrupti assumenda
     fugit dignissimos. Aliquid, molestiae?
</p>
</main>
</header>
    
</body>