.body{
    font-family:'Courier New', Courier, monospace;
}


.banner{
    display: flex;
    justify-content: center;
    /*margin-left: 30%;
    width: 60%;*/
    height: 100px;
    /*border: 1px solid black;*/
    margin-top : 30px; ;

}
.logo{
    /*float: left;*/
    margin-right: 15px;/*podemos fazer alinhamento*/
    margin-top: 15px;

}
/*.titulo{
    /*margin-left: 7%;
}*/
.fonteTitulo{
    font-size: 80px;
    /*margin-top: 5%;*/
    line-height: 0px;

}

.menu{
    background-color:pink;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}
/*.opcoes{
    float: left;
    font-size: 20px; - tmamanho da font
    margin-left: 10%;
    margin-top: 12px;    
}*/
.formatarlink{
    color: white;
    font-weight: bold;
    text-decoration: none;/*retirar linhado link*/

}

.produtos{
    /*margin-left: 70px;
    margin-top: 15px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;

    
}
.conjProdutos{
    /*float: left;
    margin-bottom: 20px;*/
    
    

}
.imagens{
   
    width: 200px;
    height: 200px;
    /*margin-right: 55px;*/
    border-radius: 25px;
    
    
}
.descricaoProduto{
    text-align: center;
    /*border: 1px solid black;*/
    width: 200px;
    height: 200px;
    
}
button{
    background-color: rgb(151, 144, 148);
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 20px;
}
button:hover{
    background-color: palevioletred;/*muda a cor do botão ao colocr o maouse*/
    cursor: pointer;/*muda o cursor*/
}
.rodape{
    display:flex;
    justify-content: center;
    /*border: 1px solid black;*/
}