@model PacotesTuristicos
@using Microsoft.AspNetCore.Http;


@{
    ViewData["Title"] = "incluir Pacotes Turisticos";
} 

 <form >
    
     <input value=@Context.Session.GetInt32("IdUsuario")>
 </form>