@model Agendamento

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">

  <title>Shop pet</title>
  </head>
  <body>
    <header>

  <h1>Shop Pet</h1>

  <nav>
    <a asp-controller="Home" asp-action="Index">Incio</a>
    <a asp-controller="Home" asp-action="Privacy">Serviços</a>
    <a asp-controller="Home" asp-action="Cadastro">Agendamento</a>
  </nav>
  </header>
   </br>
    <div>
        <main>

            <div>

                <h2>Bem vindo ao nosso site</h2>

                </br>

                <img width="1100px" height="230px" src="Gatos.jpg" alt="imagemPrincipal">

            </div>
            <div>
                <article>
                    <p>Aqui seu bichinho de estimação tem valor.</p>
                </article>
            </div>
            </body>

</html>