@{
    ViewData["Title"] = "Nossos Serviços";
}
<h1>@ViewData["Title"]</h1><br>



<h4>Plano de Saúde</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Cupiditate a quam beatae deserunt, maiores rem dolorem. 
    Alias optio tenetur quisquam atque quibusdam quam nihil 
    nam sed eos, labore enim culpa?</p>
    <h5>Valor R$ 150,00 mensal</h5>
    <br>
    <h4>Veterinario</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Cupiditate a quam beatae deserunt, maiores rem dolorem. 
    Alias optio tenetur quisquam atque quibusdam quam nihil 
    nam sed eos, labore enim culpa?</p>
     <h5>Valor R$ 50,00 Consulta</h5>
     <br>
    <h4>Passeador</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Cupiditate a quam beatae deserunt, maiores rem dolorem. 
    Alias optio tenetur quisquam atque quibusdam quam nihil 
    nam sed eos, labore enim culpa?</p>
     <h5>Valor R$ 10,00h</h5>
    <br>
    <h4>Creche</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Cupiditate a quam beatae deserunt, maiores rem dolorem. 
    Alias optio tenetur quisquam atque quibusdam quam nihil 
    nam sed eos, labore enim culpa?</p>
 <h5>Valor R$ 100,00 mensal</h5>
    <br>



